<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 style="text-align: center;">Endpoints</h1>
    <ul>
        <li style="margin-bottom: 1rem;"><a href="/result/5/plus/3">Example 1</a></li>
        <li style="margin-bottom: 1rem;"><a href="/result/3/minus/5">Example 2</a></li>
        <li style="margin-bottom: 1rem;"><a href="/result/3/minus/5/plus/8">Example 3</a></li>
        <li style="margin-bottom: 1rem;"><a href="/result/3/into/5/plus/8/into/6">Example 4</a></li>
        <li style="margin-bottom: 1rem;"><a href="/history">History</a></li>
    </ul>

</body>
</html>